            <tr id = "hash_<%= id_num %>">
              <td><%= text_field_tag("prms[key][#{id_num}]", key, :size => 20)  %></td>
              <td><%= text_field_tag("prms[value][#{id_num}]", value, :size => 20)  %></td>
            </tr>

