<tr id = "create_storage_row_<%= create_index %>">
  <td>
    <%= text_field_tag("item_storage[quantity][#{create_index}]", '')  %>
  </td>
  <td>
    <%= storage_select("item_storage[storage_id][#{create_index}]", '')  %>
  </td>
  <td>
    &nbsp;
  </td>
</tr>
