  <td colspan = "4">
    <div class = "button-link"><span>
      <%= link_to_remote('Добавить ценовой период', :url => {
        :action => :create,
        :controller => :item_periods,
        :create_index => create_index}) %>
    </span></div>
  </td>
