<tr id = "create_row_<%= create_index %>">
  <td>
    <%= text_field_tag("item_period[start_date][#{create_index}]", '')  %>
  </td>
  <td>
    <%= text_field_tag("item_period[end_date][#{create_index}]", '')  %>
  </td>
  <td>
    <%= text_field_tag("item_period[price][#{create_index}]", '')  %>
  </td>
  <td>
    &nbsp;
  </td>
</tr>
