<table>
  <thead>
    <tr>
      <th>Количество</th>
      <th>Склад</th>
      <th>Отметить <br> для удаления</th>
    </tr>
  </thead>
  <tbody class = "non-editable">
    <% i = 0 %>
    <% unless item.nil? %>
    <% item.item_storages.each do |s| %>
      <tr>
        <td><%= s.quantity %></td>
        <td><%= s.storage_name() %></td>
        <td><%= check_box_tag("deleted_storage[#{i}]", s.id, false) %></td>
      </tr>
      <% i += 1 %>
    <% end %>
    <% end %>
  </tbody>
  <tfoot>
    <tr id = "add_item_storage">
      <%= render(:partial => 'item_storages/create_button',
                 :locals => {:create_index => '0'}) %>
    </tr>
  </tfoot>
</table>
